const Pusher = require("pusher");

const pusher = new Pusher({
  appId: process.env.PUSHER_APPID || "APP_ID",
  key: process.env.PUSHER_KEY || "APP_KEY",
  secret: process.env.PUSHER_SECRET || "SECRET_KEY",
  useTLS: true,
  cluster: process.env.PUSHER_CLUSTER || "CLUSTER",
  host: process.env.PUSHER_HOST || "HOST",
  port: process.env.PUSHER_PORT || 80, // optional, defaults to 80 for non-TLS connections and 443 for TLS connections
});

module.exports = pusher;