import PusherJS from "pusher-js";

const socketClient = new PusherJS("app-key", {
  wsHost: import.meta.env.VITE_WSHOST || '127.0.0.1',        // Host WebSocket server (thường là domain hoặc IP backend Soketi/Laravel Websockets)
  wsPort: import.meta.env.VITE_WSPORT || '6001',             // Cổng kết nối WebSocket không mã hóa (ws://)
  wssPort: import.meta.env.VITE_WSSPORT || '6001',           // Cổng kết nối WebSocket có mã hóa (wss://, TLS/SSL)
  cluster: import.meta.env.VITE_CLUSTER || 'ap1',            // Cluster của Pusher (không dùng với Soketi, nhưng cần có để tương thích client)
  forceTLS: import.meta.env.VITE_FORCE_TLS || false,         // Ép buộc dùng kết nối TLS (wss://). Nếu true thì luôn dùng wss://
  encrypted: import.meta.env.VITE_ENCRYPTED || false,        // (Deprecated) Buộc kết nối qua TLS (tương tự forceTLS, nhưng bản mới không dùng nữa)
  disableStats: import.meta.env.VITE_DISABLE_STATS || true,  // Tắt gửi thống kê usage đến server Pusher (không cần thiết khi dùng self-host như Soketi)
  enabledTransports: import.meta.env.VITE_ENABLED_TRANSPORTS.split(",") || ['ws', 'wss'], 
  // Chỉ định loại transport cho kết nối: 'ws' (WebSocket thường) hoặc 'wss' (WebSocket bảo mật). 
  // Có thể giới hạn chỉ 'ws' để chạy local không HTTPS.
});

export default socketClient;
